<h1>{{question.title}}</h1>
<h4 >{{question.date}} by {{question.author}} </h4>

<h4><strong>Question: </strong> {{question.body}}</h4>

<br>
<h2> Responses </h2>
<ul>
  {{#each question.comments as |comment|}}
    {{question-tile comment=comment}}
  {{/each}}
</ul>


<button {{action 'delete' question}}>Delete</button>
