<h2>{{question.title}}</h2>
<h5 >{{question.date}} </h5><br>

<h4><strong>{{question.author}} asks: </strong></h4><br>
<p>
  {{question.body}}
</p>

<div style="width: 100%; height: 5px; background: rgb(232, 160, 55); overflow: hidden;"></div>
<h2> Responses </h2>
<ul>
  {{#each question.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</ul>
<script>if (questions.comments !=n null){
<ul>
  {{#each question.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</ul>
}else{
  <h3>No comments yet</h3>
}
</script>
<div class="manageQuestion">
<h4>Manage Question</h4>
<button {{action 'delete' question}}>Delete Question</button>
</div>

<hr>
